language: node_js
node_js:
  - 8.9.1
cache:
  directories:
  - node_modules
fail_fast: true
env:
  global:
  - NODE_ENV=travis
  - secure: "pwFfyAOADfYETI8fR+J2N1KbIqJTH98kcTo1MQdWKXmGUAu7VciqVDUvilXzy29CxQTDdniE0mCw1imJQ21TN0h+BPFpD0M5bxIqngXjT+Dgb1j9khoxYIs42xuQJhelTGOm8X4RlGoeg9pc9/kdI9SazguQ3u3PGY6zVmUy0XVKgFQrysMomUj96+LoNLFqKg2AXRzUkjSLihlnJEaZ/uyE6XLjk262QRRMIgm0ydpsR79db1LGrdekn0KQ2yfW4NgPEelVX853CVlBveacwcHQZH0MgXKZgIzzaRbypihdsdWpVnk2sM2xc94TwSnmJEm73BgH43Lj3RKjnfmz1pPgwJfTpR0vn4WDpEzvFWPhTJBsvQ51Qyge9dSQibpkaeYJh8M7KIwvzZkJVNm23gHpJ2+cUnIBVAjimmL4mcPJt3hgy9E9jYShhZI8ppuluacHuP2ji6h7zD/zMo+Ny8EZW6788HNJOFAZCpnJfik4IIDwt2AxpAdXMb2dq+eNTwpHLTEBrmjv4i9nD6lyOpGJqV6EHYVxhF5JdaNTkUkqAtlzIYBBJUMD2g7+UPfVRl+69Kdp1GGJ4PDPnkRCTJH7TZBKhgRvQVuw/lqDnlCfd8zE1GTWYe0f5PL4jrucX4DMo0dy20P1rRSbHxovu2qNxdyye3ck23LsOhPejIs="
before_install:
- echo databaseUrl1=$databaseUrl
stages:
  - Compile test and deploy to staging
jobs:
  include:
    - stage: Compile test and deploy to staging
      script: echo $databaseUrl && npm start 